<div class="pokemon-card">
  <h3>Random Pokemon</h3>
  <p>
    ID: <%= pokemon.pokedex_identifier %>
    <br>
    Name: <%= pokemon.name %>
    <br>
    Type: <%= multiple_type_badges_of pokemon.types %>
    <br>
    Generation: <%= pokemon.generation %>
  </p>
</div>
